*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(9, 41, 9);
    color: rgb(240, 238, 238);
    padding: 60px;
    text-align: center;
}

h1{
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

main{
    margin: 40px;
    padding: 40px;
}

figure{
    text-align: center;
    margin: 30px;
}
img{
    width: 15%;
}

#css{
    width: 20%;
}

footer{
    background-color: rgb(9, 41, 9);
    color: rgb(240, 238, 238);
    padding: 30px;
   
}

ul{
    padding-left: 30px;
    line-height: 2.0;
    font-weight: bold;
}